<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="descricao">Descricao</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="cadastro">cadastro</a>
    </li>
  </ul>
<img src="../../../assets/img/descricao_desafio.JPG" class="img-thumbnail" alt="descricao">
<img src="../../../assets/img/descricao_projeto.JPG" class="img-thumbnail" alt="descricao">
<img src="../../../assets/img/descricao_imprementacao1.JPG" class="img-thumbnail" alt="descricao">
<img src="../../../assets/img/descricao_imprementacao2.JPG" class="img-thumbnail" alt="descricao">
<img src="../../../assets/img/descricao_imprementacao3.JPG" class="img-thumbnail" alt="descricao">
<img src="../../../assets/img/jogo.JPG" class="img-thumbnail" alt="descricao">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="descricao">Descricao</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="cadastro">cadastro</a>
  </li>
</ul>
</div>
